#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS_python3=--prefix=/opt/rdiff-backup-2 --install-lib=/opt/rdiff-backup-2/lib

%:
	dh $@ --buildsystem=pybuild --with python3 --install-dir ../opt/rdiff-backup-2
